<h2>Home</h2>
<br />
<div class="d-flex justify-content-evenly">
	<div class="card" style="width: 10rem;">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Contador</h5>
			<p class="card-text">Blazor counter component</p>
			<a href="#" class="btn btn-primary">Go!</a>
		</div>
	</div>
	<div class="card" style="width: 10rem;">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Tabla</h5>
			<p class="card-text">Sample Blazor Table component</p>
			<a href="#" class="btn btn-primary">Go!</a>
		</div>
	</div>
	<div class="card" style="width: 10rem;">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Conversor</h5>
			<p class="card-text">Simple money converter</p>
			<a href="#" class="btn btn-primary">Go!</a>
		</div>
	</div>
</div>